@import './variables';
@import './mixins';

// override fonts path to prevent build errors (or use resolve-url loader)
$roboto-font-path: "../../node_modules/materialize-css/dist/fonts/roboto/";

// optionally override color variables eg: ...
// $primary-color: color("materialize-purple");

@import 
'~materialize-css/sass/components/color',
'~materialize-css/sass/components/variables',
'~materialize-css/sass/components/global',
'~materialize-css/sass/components/badges',
'~materialize-css/sass/components/icons-material-design',
'~materialize-css/sass/components/grid',
'~materialize-css/sass/components/navbar',
'~materialize-css/sass/components/roboto',
'~materialize-css/sass/components/typography',
'~materialize-css/sass/components/transitions',
'~materialize-css/sass/components/cards',
'~materialize-css/sass/components/toast',
'~materialize-css/sass/components/tooltip',
'~materialize-css/sass/components/buttons',
'~materialize-css/sass/components/dropdown',
'~materialize-css/sass/components/waves',
'~materialize-css/sass/components/modal',
'~materialize-css/sass/components/chips',
'~materialize-css/sass/components/materialbox',
'~materialize-css/sass/components/forms/forms',
'~materialize-css/sass/components/sideNav',
'~materialize-css/sass/components/preloader',
'~materialize-css/sass/components/slider',
'~materialize-css/sass/components/carousel',
'~materialize-css/sass/components/pulse',
'~materialize-css/sass/components/collapsible',
'~materialize-css/sass/components/date_picker/default';


body {
    background-color: rgba(96, 125, 139, 0.5);
    margin: 0;
    padding: 0;
  }
  
  .imageLogo {
    margin-top: 0.4em;
    margin-right: 0.3em;
    max-height: 1.4em;
  }
  
  .headingLogo {
    display: inline-block;    
    position: relative;
    top: -0.15em;  
  }
  
  .whiteLine {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    margin-bottom: -0.85rem;
    height: 0.6rem;
  }
  
  .angle {
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 45px solid #fff;
    border-left: 45px solid transparent;
  }
  
  .preview > img {
    height: 10vw;
    width: auto;
    overflow: hidden;
  }
  
  .bullet > ul:not(.browser-default) > li {
    list-style-type: circle;
    margin-left: 1em; 
  }
  
  p > i {
    position: relative;
    top: -0.1em;
    left: -0.4em;
  }
  
  .note {
    padding: 0.5em;
    margin: 0.5em;
  }
  
  #top {
    margin-top: -1.5rem;
    margin-bottom: 0.1rem;
    padding-bottom: 0.6em;
  }
  #topic {
    margin-bottom: -0.8rem;
  }
  
  #close {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
  }
  
  .detail-image {
    width: 100%;
    padding: 0.5em;
  }

  .stop-scrolling {
    height: 80%;
    overflow: hidden;
  }

  .tool-item {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    z-index: 99;
    cursor: pointer;
  }
  
  @supports(display: grid){
    .detail-card {
      width: 50%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(2em, 1fr))[auto-fit];
          grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
    }
    
      .grid {
        margin: 0 auto;
        display: -ms-grid;
        display: grid;
        grid-gap: 1em;
        -ms-grid-columns: (minmax(18em, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
      }
      
      .grid2 {
        margin: 0 auto;
        display: -ms-grid;
        display: grid;
        grid-gap: 1em;
        -ms-grid-columns: (minmax(12em, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
      }
  }
  
  .image20 {
      max-height: 20vw;
      max-width: 15vw;
      position: absolute;
      top: 0; bottom:0; left: 0; right:0;
      margin: auto;
  }
  
  .card .card-image img {
    width: auto !important;
  }
  
  .card-empl {
    max-height: 10vw;
    max-width: 100%;
  }
  
  .card .card-image {
    max-height: 15vw !important;
  }
  
  .inactive {
    background-color: #263238;
  }
  
  .bgd1 {
   background-color: rgba(66, 96, 121, 0.459)
  }
  
  .inactive > .card-image > img {  
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
  }
  
  .collection .collection-item.active {
    background-color: #fde0b2 !important;
  }
  
  .materialboxed.active {
    background-color: #fff;
    padding: 3em;
  }
  
  .padding {
    padding: 0.5em;
  }
  .padding > material-placeholder {
    margin-bottom: 1em;
  }
  .padding > span {
    position: relative;
    margin-top: 1em;
    background-color: rgba(96, 125, 139, 0.5);
    padding: 0.2em; 
    left: 1em;
  }
  
  .ordercode {  
    font-weight: bold;
    color: #800;
    cursor: pointer;
  }
  
  .second {
    margin-left: 0.5em;
  }
  
  .bot {
    position: absolute;
    right: 2.5em;
    bottom: 1em;
  }
  
  .hiie {
    height: 15vw !important;
  }
  
  .hie {
    height: 8vw !important;
    overflow: hidden;
  }
  
  .listitem {  
    margin-left: 0.5em;
    margin-top: -0.1rem;
    margin-bottom: 0.7rem;
    line-height: 1.6rem;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
  }
  
  .h5 {
    font-weight: bold;
  }
  
  .noteitem {
    background-color: rgb(255, 157, 157);
    border-radius: 0.2em;
    border: solid 1px rgb(59, 3, 3);
  }
  
  .nritem {
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: circle;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
  }