<div *ngIf="(sop$ | async) as sop">
  <sop-modal *ngIf="add === true" [modal]="modal" [user]="(user$ | async)" [sop]="sop" [icons]="(icons$ | async)" [pct]="(pct$ | async)"
    [url]="(url$ | async)" (close)="Close($event)" (add)="Add($event)" (newList)="NewList($event)" (newTitle)="NewTitle($event)"
    (notes)="Notes($event)" (newImages)="Images($event)" (file)="File($event)" (table)="NewTable($event)" (html)="ToHtml($event)"></sop-modal>
  <div class="section no-pad-bot" id="index-banner">
    <div class="card" id="top">
      <div class="container">
        <a routerLink="../" class="right">
          <i class="small material-icons">arrow_back</i>
        </a>
        <div id="topic">
          <h1>{{ sop.title }}</h1>
        </div>
        <span class="right">
          <i>
            <small>Updated by:{{ sop.updatedBy }} - on: {{ sop.updatedAt }}</small>
          </i>
        </span>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div *ngIf="sop.html" class="card-panel">
        <div *ngFor="let section of sop.html.sections" [innerHTML]="section"></div>
      </div>
      <description-card *ngIf="sop.description" [content]="sop.description"></description-card>
      <list-card *ngIf="sop.list" [list]="sop.list" [listTitle]="sop.listTitle"></list-card>
      <note *ngIf="sop.notes" [notes]="sop.notes"></note>
    </div>
    <image-card *ngIf="sop.image" class="col s12 m6" [card]="{title: sop.title, image: sop.image, size: '' }"></image-card>
    <image-card *ngFor="let image of sop.images" class="col s4 m3 l2" [card]="image"></image-card>
    <div class="col s12 m6">
      <table-item [table]="sop.table" (remove)="TableRemove($event)"></table-item>
    </div>
    <menu-btn (menu)="Menu($event, sop)"></menu-btn>
  </div>
</div>
