<ul>
  <li class="padding right-align">
    <small>
      <i>Add a item to the list</i>
    </small>
    <i class="material-icons right pointer" (click)="Add()">add</i>
  </li>
  <li class="divider"></li>
  <li class="padding"></li>

  <li style="min-height: 29px;" *ngFor="let li of list; let i = index; let first = first; let last = last">
    <list-reorder class="left" [i]="{index:i, first: first, last: last}" (reorderedList)="Reordered($event)" [list]="list"></list-reorder>
    <span class="right">
      <i class="material-icons pointer" (click)="Edit(li)">edit</i>
      <i class="material-icons pointer" (click)="Remove(li)">remove_circle_outline</i>
    </span>
    <b>{{ li.title }} :</b>
    <span>{{ li.text }}</span>
  </li>
</ul>

<div *ngIf="edit" class="card padding blue-grey lighten-4">
  <div class="row">
    <div class="input-field col s12">
      <input id="first_name2" [(ngModel)]="edit.title" class="validate" type="text">
      <label for="first_name2">Title</label>
    </div>
    <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="edit.text"></textarea>
      <label for="textarea1">Text</label>
    </div>
    <div class="input-field col s4">
      <div class="ddIcon btn">
        <span>
          <i class="material-icons left">{{ edit.icon || 'label' }}</i> {{ edit.icon || 'Choose a Icon' }}</span>
        <div class="ddIcon-content grey-text text-darken-3 mt1">
          <p *ngFor="let i of icons" (click)="Icon(i)">
            {{ i.icon }}
            <i class="material-icons left">{{ i.icon }}</i>
          </p>
        </div>
      </div>
    </div>
    <div class="input-field col s4">
      <span *ngIf="edit?.image"><i class="material-icons pointer" (click)="RemoveImage(edit)">remove_circle_outline</i></span>
      <div class="ddIcon btn">
        <span>
          <i class="material-icons left">image</i> {{ edit?.image?.title || 'Add a Image' }}</span>
        <div class="ddIcon-content grey-text text-darken-3 mt2">
          <ul class="collection">
            <li *ngFor="let image of images" class="collection-item" (click)="Image(image)">
              <img class="thumb" [alt]="image.title" [src]="image.image" />{{ image.title }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12">
      <button class="btn right" [disabled]="(!edit.title && !edit.text)" (click)="New()">
        <div *ngIf="exists === false; then NewBlock else UpdateBlock"></div>
      </button>
    </div>
  </div>
</div>

<ng-template #NewBlock>
    <span >
      <i class="material-icons left">add</i> Add to list</span></ng-template>
      <ng-template #UpdateBlock>
          <span >
            <i class="material-icons left">add</i> Update item</span></ng-template>