<div *ngIf="(param$ | async)as param">
  <div *ngIf="(user$ | async) as user">

    <div class="section no-pad-bot no-pad-top" id="index-banner" *ngIf="(specials$ | async) as specials">
      <div class="card" [ngClass]="{'discontinued': content.active === false}" id="top">
        <div class="container">
          <a routerLink="../" class="right">
            <i class="small material-icons">arrow_back</i>
          </a>
          <div id="topic">
            <h3 id="topic">Category: {{ TransformCat(content.sub) | titlecase }}</h3>
            <h4 id="topic">
              Item: {{ content.title }}
            </h4>
            <form-cab *ngIf="user.roles.catEditor" [user]="user" [content]="content" (edit)="Fetch($event)"></form-cab>
            <div class="center red-text text-darken-4" *ngIf="content.active === false">
              <b>DISCONTINUED / INACTIVE!</b>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="row" id="catalog">
        <versions-bar *ngIf="!param.Version" class="row" [content]="content"></versions-bar>
        <div class="row">
          <div class="col s12 m6">
            <description-card [content]="content"></description-card>
            <spec-content [v]="param.Version" [content]="content"></spec-content>
            <note-item *ngFor="let note of content.notes" [uid]="note"></note-item>
          </div>
          <div class="col s12 m6">
            <slider-images [content]="content" [param]="param"></slider-images>
          </div>
          <div class="col s12 m6">
            <add-custom [content]="content" [v]="param.Version"></add-custom>
          </div>
          <div class="col s12 m6">
            <table-item *ngIf="content.code && param.Version" [content]="content" [v]="param.Version" [width]="content.iwhd.widths"></table-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
