<div id="modal1" class="modal bottom-sheet" >
    <form *ngIf="edit" [formGroup]="form" novalidate>
        <div class="modal-content row">
                <i class="material-icons tool-item medium" (click)="Closed()">close</i>
            <h4>Update {{edit.content.title}}
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" *ngIf="edit.content.active; else inactive" checked>
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </h4>
            <div class="col s6 m6">
                <upload-input [edit]="edit" [user]="user" [title]="edit.content.title" [button]="'image'" [pct]="pct" [url]="url" [pctfile]="pctfile"
                (file)="imageUpload($event)"></upload-input>
                <div class="input-field col s12">
                    <textarea id="description" class="materialize-textarea" (keydown.enter)="onDes($event)" formControlName="description"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="col s6 m6 input-field">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-specg" class="autocompleteSpec" formControlName="spec" (keydown.enter)="onSpec($event)">
                <label for="autocomplete-specg">Specifications</label>
            </div>
            <div class="col s6 m6 input-field">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-noteg" class="autocompleteNote" formControlName="note" (keydown.enter)="onNote($event)">
                <label for="autocomplete-noteg">Notes</label>
            </div>
        </div>
        <div class="modal-content row">
            <h4>Update {{edit.content.title}} {{ edit.version.height }}{{ edit.version.version || '" high'}}
                    
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" *ngIf="edit.version.active; else inactive" checked>
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </h4>
            <div class="col s6 m6">
            <upload-input [edit]="edit" [user]="user" [title]="edit.version.height" [button]="'image'" [pct]="pct" [url]="url" [pctfile]="pctfile"
            (file)="imageUpload($event)"></upload-input>
            <upload-input [edit]="edit" [user]="user" [title]="edit.version.height" [button]="'spec'" [pct]="pct" [url]="url" [pctfile]="pctfile"
            (file)="imageUpload($event)"></upload-input>
            </div>
            <div class="col s6 m6 input-field">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-spec" class="autocompleteSpec" formControlName="specV" (keydown.enter)="onSpecV($event)">
                <label for="autocomplete-spec">Specifications</label>
            </div>
            <div class="col s6 m6 input-field">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-note" class="autocompleteNote" formControlName="noteV" (keydown.enter)="onNoteV($event)">
                <label for="autocomplete-note">Notes</label>
            </div>
        </div>
    </form>
</div>

<ng-template #inactive><input type="checkbox"></ng-template>