<div id="modal1" class="modal bottom-sheet" *ngIf="(results$ | async) as results">
  <form *ngIf="edit" [formGroup]="form" novalidate>
    <div class="row">
      <div class="col s12">
        <ul class="tabs flow-text tab-demo z-depth-1">
          <li class="tab col">
            <a class="active btn btn-large" (click)="setId('main')">{{edit.content.title}}</a>
          </li>
          <li class="tab col" *ngFor="let v of edit.content.heights">
            <a (click)="setId(v.id)" class="btn btn-large">{{ v.title }}{{ v.version || "\""}}</a>
          </li>
        </ul>
        <i class="material-icons tool-item small" (click)="Closed()">close</i>
      </div>
      <div class="col s12">
        <br>
      </div>
      <div id="main" class="col s12 section" *ngIf="version === 'main'">
        <h4>Update {{edit.content.title}}
          <on-off [active]="edit.content.active" [id]="'none'" (offOn)="OffOn($event)"></on-off>
        </h4>
        <div class="col s12 m6 l4">
          <upload-input [title]="edit.content.title" [button]="'image'" [pct]="pct" [url]="url" [pctfile]="pctfile" (file)="imageUpload($event)"></upload-input>
          <div class="input-field col s12">
            <textarea id="description" class="materialize-textarea" (keydown.enter)="onDes($event)" formControlName="description" [(ngModel)]="edit.content.description"></textarea>
            <label for="description">Description</label>
          </div>
        </div>
        <div class="col s6 m6 l4">
          <div class="input-field">
            <i class="material-icons prefix">textsms</i>
            <input type="text" formControlName="spec" #addon (keyup)="Search(addon.value, 'addons')">
            <label for="autocomplete-specg">Popular Attachments and Applications</label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">textsms</i>
            <input type="text" formControlName="note" #note (keyup)="Search(note.value, 'notes')">
            <label for="autocomplete-noteg">Notes</label>
          </div>
        </div>
        <div class="col s6 l4 m6">
          <ul *ngIf="results.length > 0" class="collection">
            <li *ngFor="let r of results" class="collection-item">
              <a class="secondary-content pointer" (click)="Add(r, 'main')">
                <i class="material-icons">send</i>
              </a>
              <span class="limit">
                <i class="material-icons prefix">announcement</i>{{r.title}} - {{r.content}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div *ngFor="let v of edit.content.heights" id="version{{v.id}}" class="col s12 section">
        <div *ngIf="version === v.id">
          <h4>Update {{edit.content.title}} {{ edit.content.versions[v.id].title }}{{ v.version || '" high'}}
            <on-off [active]="edit.content.versions[v.id].active" [id]="v.id" (offOn)="OffOn($event)"></on-off>
          </h4>
          <div class="col s12 l4 m6">
            <upload-input [title]="v.id" [button]="'image'" [pct]="pct" [url]="url" [pctfile]="pctfile" (file)="imageUpload($event)"></upload-input>
            <upload-input [title]="v.id" [button]="'spec'" [pct]="pct" [url]="url" [pctfile]="pctfile" (file)="imageUpload($event)"></upload-input>
          </div>
          <div class="col s6 l4 m6">
            <div class="input-field">
              <i class="material-icons prefix">textsms</i>
              <input type="text" formControlName="specV" #addonv (keyup)="Search(addonv.value, 'addons')">
              <label for="autocomplete-spec">Popular Attachments and Applications</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">textsms</i>
              <input type="text" formControlName="noteV" #notev (keyup)="Search(notev.value, 'notes')">
              <label for="autocomplete-note">Notes</label>
            </div>
          </div>
          <div class="col s6 l4 m6">
            <ul *ngIf="results.length > 0" class="collection">
              <li *ngFor="let r of results" class="collection-item">
                <a class="secondary-content pointer" (click)="Add(r, v.id)">
                  <i class="material-icons">send</i>
                </a>
                <span class="limit">
                  <i class="material-icons prefix">announcement</i>{{r.title}} - {{r.content}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
